<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.header.front.ejs', {
	pageStyle: 'bui.page.snippet.css',
	pageJavascript: ''
}) %>

<link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
<%-include('../_templates/_header.snippet.ejs') %>
		<!-- page-body -->
		<div class="page-body" id="local">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject" id="localTitle"><span class="local-name">snippet</span></h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body" id="content">
				<!-- content-head -->
				<div class="content-head"><%- include('../_mixin/_title.content.ejs', {name: 'board'}) %></div>
				<!-- //content-head -->
				<!-- content-body -->
				<div class="content-body">
					<!-- section -->
					<div class="section">
						<div class="section-head"><%- include('../_mixin/_title.section.ejs', {name: 'system'}) %></div>
						<div class="section-body">
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'HTML Structure'}) %></div>
								<div class="subsection-body">
									<!-- highlight-js -->
									<pre class="highlight-js">
<code class="html">&lt;!-- info-board --&gt;
&lt;div class="info-board"&gt;
	&lt;div class="board-wrap"&gt;
		&lt;div class="board-head"&gt;
			&lt;p class="board-caption"&gt;&lt;span class="wbr"&gt;&lt;/span&gt; &lt;span class="wbr"&gt;&lt;/span&gt;&lt;/p&gt;
			&lt;p class="board-subject"&gt;&lt;span class="wbr"&gt;&lt;/span&gt; &lt;span class="wbr"&gt;&lt;/span&gt;&lt;/p&gt;
			&lt;p class="board-summary"&gt;&lt;span class="wbr"&gt;&lt;/span&gt; &lt;span class="wbr"&gt;&lt;/span&gt;&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="board-body"&gt;
			&lt;p class="para"&gt;&lt;span class="wbr"&gt;&lt;/span&gt; &lt;span class="wbr"&gt;&lt;/span&gt;&lt;/p&gt;
			&lt;p class="para"&gt;&lt;span class="wbr"&gt;&lt;/span&gt; &lt;span class="wbr"&gt;&lt;/span&gt;&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="board-foot"&gt;&lt;/div&gt;
		&lt;div class="board-util"&gt;&lt;/div&gt;
		&lt;div class="board-side"&gt;&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
&lt;!-- //info-board --&gt;
</code></pre>
									<!-- //highlight-js -->
								</div>
							</div>
							<!-- //subsection -->
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'Class Options'}) %></div>
								<div class="subsection-body">
									<!-- data-table -->
									<div class="data-table module-bui type-a">
										<table>
											<colgroup>
												<col style="width: 128rem;">
												<col>
											</colgroup>
											<tbody>
												<tr>
													<th scope="row">module</th>
													<td>module-*</td>
												</tr>
												<tr>
													<th scope="row">style</th>
													<td>style-*</td>
												</tr>
												<tr>
													<th scope="row">type</th>
													<td>type-*</td>
												</tr>
												<tr>
													<th scope="row">accent</th>
													<td>normal-*, accent-*</td>
												</tr>
												<tr>
													<th scope="row">outline</th>
													<td>small-1x, small, medium, large, large-1x</td>
												</tr>
												<tr>
													<th scope="row">option</th>
													<td>attr-*</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- //data-table -->
								</div>
							</div>
							<!-- //subsection -->

							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'demos'}) %></div>
								<div class="subsection-body">
									<!-- highlight-js -->
									<pre class="highlight-js">
<code class="html">&lt;div class="info-board module-a style-* type-* attr-*"&gt;
	&lt;div class="board-wrap"&gt;
		&lt;div class="board-head"&gt;
			&lt;p class="board-subject"&gt;subject name&lt;/p&gt;
			&lt;p class="board-summary"&gt;summary Lorem ipsum ...&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>
									<!-- //highlight-js -->
								</div>
							</div>
							<!-- //subsection -->

							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'demos'}) %></div>
								<div class="subsection-body">
									<!-- subsubsection -->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: 'demos'}) %></div>
										<div class="subsubsection-body">
											<!-- info-board -->
											<div class="info-board module-a type-c large attr-done">
												<div class="board-wrap">
													<div class="board-head">
														<!-- <p class="board-caption"></p> -->
														<p class="board-subject"><span class="board-name"><span class="em accent-01">주문이 완료</span> 되었습니다.</span></p>
														<p class="board-summary"><span class="wbr">구매하신 상품은 빠른 시일 내 배송될 예정입니다.</span></p>
													</div>
												</div>
												<!-- <div class="board-side">
													asdfadsfsaf
												</div> -->
											</div>
											<!-- //info-board -->
										</div>
									</div>
									<!-- //subsubsection -->
									<!-- subsubsection -->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: 'demos'}) %></div>
										<div class="subsubsection-body">
											<!-- info-board -->
											<div class="info-board module-a type-a medium">
												<div class="board-wrap">
													<div class="board-head">
														<p class="board-caption">유셀러 공구마켓</p>
														<p class="board-subject"><span class="board-name">하이언스 더 베이직 수딩플러스 앰플 55ml 외 1개</span></p>
													</div>
													<div class="board-body">
														<p class="wbr">결제금액 25,800원</p>
													</div>
												</div>
												<!-- <div class="board-side">
													asdfadsfsaf
												</div> -->
											</div>
											<!-- //info-board -->
										</div>
									</div>
									<!-- //subsubsection -->
								</div>
							</div>
							<!-- //subsection -->
							
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'style'}) %></div>
								<div class="subsection-body">
									<!-- subsubsection -->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: 'style-a'}) %></div>
										<div class="subsubsection-body">
											<!-- info-board -->
											<div class="info-board module-a style-a large">
												<div class="board-wrap">
													<div class="board-head">
														<!-- <p class="board-caption"></p> -->
														<p class="board-subject"><span class="board-name">subject name</span></p>
														<p class="board-summary"><span class="wbr">summary Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></p>
													</div>
												</div>
												<!-- <div class="board-side">
													asdfadsfsaf
												</div> -->
											</div>
											<!-- //info-board -->
										</div>
									</div>
									<!-- //subsubsection -->

									<!-- subsubsection -->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: 'style-b'}) %></div>
										<div class="subsubsection-body">
											<!-- info-board -->
											<div class="info-board module-a style-b large">
												<div class="board-wrap">
													<div class="board-head">
														<!-- <p class="board-caption"></p> -->
														<p class="board-subject"><span class="board-name">subject name</span></p>
														<p class="board-summary"><span class="wbr">summary Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></p>
													</div>
												</div>
												<!-- <div class="board-side">
													asdfadsfsaf
												</div> -->
											</div>
											<!-- //info-board -->
										</div>
									</div>
									<!-- //subsubsection -->
								</div>
							</div>
							<!-- //subsection -->

							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'type'}) %></div>
								<div class="subsection-body">
									<!-- subsubsection -->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: 'type-a'}) %></div>
										<div class="subsubsection-body">
											<!-- info-board -->
											<div class="info-board module-a type-a large">
												<div class="board-wrap">
													<div class="board-head">
														<!-- <p class="board-caption"></p> -->
														<p class="board-subject"><span class="board-name">subject name</span></p>
														<p class="board-summary"><span class="wbr">summary Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></p>
													</div>
												</div>
												<!-- <div class="board-side">
													asdfadsfsaf
												</div> -->
											</div>
											<!-- //info-board -->
										</div>
									</div>
									<!-- //subsubsection -->

									<!-- subsubsection -->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: 'type-b'}) %></div>
										<div class="subsubsection-body">
											<!-- info-board -->
											<div class="info-board module-a type-b large">
												<div class="board-wrap">
													<div class="board-head">
														<!-- <p class="board-caption"></p> -->
														<p class="board-subject"><span class="board-name">subject name</span></p>
														<p class="board-summary"><span class="wbr">summary Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></p>
													</div>
												</div>
												<!-- <div class="board-side">
													asdfadsfsaf
												</div> -->
											</div>
											<!-- //info-board -->
										</div>
									</div>
									<!-- //subsubsection -->
									<!-- subsubsection -->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: 'type-c'}) %></div>
										<div class="subsubsection-body">
											<!-- info-board -->
											<div class="info-board module-a type-c large">
												<div class="board-wrap">
													<div class="board-head">
														<!-- <p class="board-caption"></p> -->
														<p class="board-subject"><span class="board-name">subject name</span></p>
														<p class="board-summary"><span class="wbr">summary Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></p>
													</div>
												</div>
												<!-- <div class="board-side">
													asdfadsfsaf
												</div> -->
											</div>
											<!-- //info-board -->
										</div>
									</div>
									<!-- //subsubsection -->
								</div>
							</div>
							<!-- //subsection -->

							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'outline'}) %></div>
								<div class="subsection-body">
									<!-- subsubsection -->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: 'accent fill'}) %></div>
										<div class="subsubsection-body">
											<!-- info-board -->
											<div class="info-board module-a style-b type-fill normal-02 large">
												<div class="board-wrap">
													<div class="board-head">
														<!-- <p class="board-caption"></p> -->
														<p class="board-subject"><span class="board-name">subject name</span></p>
														<p class="board-summary"><span class="wbr">summary Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></p>
													</div>
												</div>                     
												<!-- <div class="board-side">
													asdfadsfsaf
												</div> -->
											</div>
											<!-- //info-board -->
										</div>
									</div>
									<!-- //subsubsection -->

									<!-- subsubsection -->
									<div class="subsubsection">
										<div class="subsubsection-head"><%- include('../_mixin/_title.subsubsection.ejs', {name: 'accent line'}) %></div>
										<div class="subsubsection-body">
											<!-- info-board -->
											<div class="info-board module-a style-b type-line normal-02 large">
												<div class="board-wrap">
													<div class="board-head">
														<!-- <p class="board-caption"></p> -->
														<p class="board-subject"><span class="board-name">subject name</span></p>
														<p class="board-summary"><span class="wbr">summary Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></p>
													</div>
												</div>
												<!-- <div class="board-side">
													asdfadsfsaf
												</div> -->
											</div>
											<!-- //info-board -->
										</div>
									</div>
								</div>
							</div>		
							<!-- //subsubsection -->
						</div>
					</div>
					<!-- //section -->
					<!-- section -->
					<div class="section">
						<div class="section-head"><%- include('../_mixin/_title.section.ejs', {name: 'info board'}) %></div>
						<div class="section-body">
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'demos'}) %></div>
								<div class="subsection-body">
									<!-- highlight-js -->
									<pre class="highlight-js">
<code class="html">&lt;div class="info-board module-a style-a type-c attr-done"&gt;
	&lt;div class="board-wrap"&gt;
		&lt;div class="board-head"&gt;
			&lt;p class="board-subject"&gt;subject name&lt;/p&gt;
			&lt;p class="board-summary"&gt;summary Lorem ipsum ...&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="board-body"&gt;
			&lt;ul class="data-list module-a type-a normal-03 small"&gt;
				&lt;li class="data-item"&gt;Lorem ipsum dolor ...&lt;/li&gt;
				&lt;li class="data-item"&gt;Quasi quo aliquid ...&lt;/li&gt;
				&lt;li class="data-item"&gt;fuga repellendus ...&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>
									<!-- //highlight-js -->


									<!-- info-board -->
									<div class="info-board module-a style-b type-c large attr-done">
										<div class="board-wrap">
											<div class="board-head">
												<!-- <p class="board-caption"></p> -->
												<p class="board-subject"><span class="board-name">subject name</span></p>
												<p class="board-summary"><span class="wbr">summary Lorem ipsum dolor sit amet consectetur adipisicing elit.</span> <span class="wbr">Quisquam tempora, eum voluptas architecto unde sint natus laborum nesciunt</span></p>
											</div>
											<div class="board-body">
												<ul class="data-list module-a type-a normal-03 small-1x">
													<li class="data-item">Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
													<li class="data-item">Quasi quo aliquid voluptas veniam exercitationem fuga repellendus quaerat id!</li>
													<li class="data-item">fuga repellendus quaerat id! In enim, natus dolorem eius temporibus voluptatem?</li>
												</ul>
											</div>
											<div class="board-util">
												<span class="button-area">
													<a href="#" class="btn module-b style-c type-line medium normal-02"><span class="btn-text">취소</span></a>
													<a href="#" class="btn module-b style-c type-line medium accent-01"><span class="btn-text">확인</span></a>
												</span>
											</div>
										</div>
										<!-- <div class="board-side">
											asdfadsfsaf
										</div> -->
									</div>
									<!-- //info-board -->
								</div>
							</div>
							<!-- //subsection -->
						</div>
					</div>
					<!-- //section -->
					<!-- section -->
					<div class="section">
						<div class="section-head"><%- include('../_mixin/_title.section.ejs', {name: 'noti board'}) %></div>
						<div class="section-body">
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'demos'}) %></div>
								<div class="subsection-body">
									<!-- highlight-js -->
									<pre class="highlight-js">
<code class="html">
&lt;div class="noti-board module-a style-b type-a normal-02 small-1x symbol-ltr-information"&gt;
	&lt;div class="board-wrap"&gt;
		&lt;div class="board-head"&gt;&lt;p class="board-subject"&gt;&lt;span class="board-name"&gt;승인 이후 수정이 불가하오니 내용 확인 후 등록 바랍니다.&lt;/span&gt;&lt;/p&gt;&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>
									<!-- //highlight-js -->
									<!-- noti-board -->
									<div class="noti-board module-a type-a normal-03 small-1x symbol-ltr-information">
										<div class="board-wrap">
											<div class="board-head"><p class="board-subject"><span class="board-name">주문내역 조회시 주문번호가 필요하오니, 주문내역 화면 이미지 저장 혹은 주문번호를 복사해주시기 바랍니다.</span></p></div>
										</div>
									</div>
									<!-- //noti-board -->
									<!-- noti-board -->
									<div class="noti-board module-b style-a type-a normal-03 small-1x symbol-ltr-information">
										<div class="board-wrap">
											<div class="board-head"><p class="board-subject"><span class="board-name">입력된 연락처는 아이디로 사용되며, 이메일로 주문내역이 발송됩니다. 정확히 기재해주세요.</span></p></div>
										</div>
									</div>
									<!-- //noti-board -->
									<!-- noti-board -->
									<div class="noti-board module-b style-b type-a normal-03 small-1x symbol-ltr-information">
										<div class="board-wrap">
											<div class="board-head"><p class="board-subject"><span class="board-name">주문 완료 후 00일 이내 미입금 시 자동으로 주문이 취소됩니다.</span></p></div>
										</div>
									</div>
									<!-- //noti-board -->
									<br /><br /><br />
									<!-- noti-board -->
									<div class="noti-board module-a type-c normal-03 small-1x symbol-ltr-information">
										<div class="board-wrap">
											<div class="board-head"><p class="board-subject"><span class="board-name">주문내역 조회시 주문번호가 필요하오니, 주문내역 화면 이미지 저장 혹은 주문번호를 복사해주시기 바랍니다.</span></p></div>
										</div>
									</div>
									<!-- //noti-board -->
									<!-- noti-board -->
									<div class="noti-board module-b style-a type-c normal-03 small-1x symbol-ltr-information">
										<div class="board-wrap">
											<div class="board-head"><p class="board-subject"><span class="board-name">입력된 연락처는 아이디로 사용되며, 이메일로 주문내역이 발송됩니다. 정확히 기재해주세요.</span></p></div>
										</div>
									</div>
									<!-- //noti-board -->
									<!-- noti-board -->
									<div class="noti-board module-b style-b type-c normal-03 small-1x symbol-ltr-information">
										<div class="board-wrap">
											<div class="board-head"><p class="board-subject"><span class="board-name">주문 완료 후 00일 이내 미입금 시 자동으로 주문이 취소됩니다.</span></p></div>
										</div>
									</div>
									<!-- //noti-board -->
								</div>
							</div>
							<!-- //subsection -->
						</div>
					</div>
					<!-- //section -->
					<!-- section -->
					<div class="section">
						<div class="section-head"><%- include('../_mixin/_title.section.ejs', {name: 'guide board'}) %></div>
						<div class="section-body">
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'demos'}) %></div>
								<div class="subsection-body">
									<!-- highlight-js -->
									<pre class="highlight-js">
<code class="html">&lt;div class="guide-board module-a style-a type-c"&gt;
	&lt;div class="board-wrap"&gt;
		&lt;div class="board-head"&gt;
			&lt;p class="board-subject"&gt;subject name&lt;/p&gt;
			&lt;p class="board-summary"&gt;summary Lorem ipsum ...&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="board-body"&gt;
			&lt;ul class="data-list module-a type-a normal-03 small"&gt;
				&lt;li class="data-item"&gt;Lorem ipsum dolor ...&lt;/li&gt;
				&lt;li class="data-item"&gt;Quasi quo aliquid ...&lt;/li&gt;
				&lt;li class="data-item"&gt;fuga repellendus ...&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>
									<!-- //highlight-js -->


									<!-- guide-board -->
									<div class="guide-board module-a type-a large">
										<div class="board-wrap">
											<div class="board-head">
												<!-- <p class="board-caption"></p> -->
												<p class="board-subject"><span class="board-name">판매자 공지사항</span></p>
											</div>
											<div class="board-body">
												<p class="para">본품 사용 전 반드시 사용방법 및 주의사항을 숙지하신 후 사용하세요.</p>
												<ul class="data-list module-a type-c normal-03 small-1x">
													<li class="data-item">화장품 사용 시 또는 사용 후 직사광선에 의하여 사용부위가 붉은 반점, 부어오름 또는 가려움증 등의 이상 증상이나 부작용이 있는 경우 전문의 등과 상담할 것</li>
													<li class="data-item">상처가 있는 부위 등에는 사용을 자제할 것 </li>
													<li class="data-item">보관 및 취급시 어린이의 손이 닿지 않는 곳에 보관하고, 직사광선을 피해서 보관할 것</li>
												</ul>
												<div><img src="./../../assets/images/@temp/temp_640x607.png" alt="" /></div>
											</div>
										</div>
									</div>
									<!-- //guide-board -->
								</div>
							</div>
							<!-- //subsection -->
						</div>
					</div>
					<!-- //section -->
				</div>
				<!-- content-body -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->

<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<!-- //page -->
</div>
</body>
</html>