<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.header.front.ejs', {
	pageStyle: 'bui.page.snippet.css',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
<%-include('../_templates/_header.snippet.ejs') %>
		<!-- page-body -->
		<div class="page-body" id="local">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject" id="localTitle"><span class="local-name">snippet</span></h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body" id="content">
				<!-- content-head -->
				<div class="content-head">
					<h3 class="content-subject" id="contentSubject"><span class="content-name">color</span></h3>
					<p class="para">웹 페이지의 컬러는 사용자에게 이정표와 같은 역할을 하므로 일관성 없이 남용된 컬러의 사용은 사용자에게 혼란을 주게 됩니다.<br />본 프로젝트의 컬러 시스템을 아래와 같이 정의하며, 반드시 약속된 값을 사용합니다.</p>
				</div>
				<!-- //content-head -->
				<!-- content-body -->
				<div class="content-body">
					<!-- section -->
					<div class="section color-variation">
						<div class="section-head">
							<%- include('../_mixin/_title.section.ejs', {name: 'system'}) %>
							<p class="para">Base는 총 11가지의 Variants를 포함하며, Accent Color는 Primary, Secondary가 존재합니다.</p>
						</div>
						<div class="section-body">
							<div class="subsection base">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'base'}) %></div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #000000"><span class="data-name">base, 100</span> <span class="data-code">#000000</span></li>
										<li class="data-item" style="background-color: #232b37"><span class="data-name">base, 070</span> <span class="data-code">#232b37</span></li>
										<li class="data-item" style="background-color: #4e5968"><span class="data-name">base, 060</span> <span class="data-code">#4e5968</span></li>
										<li class="data-item" style="background-color: #8b95a1"><span class="data-name">base, 050</span> <span class="data-code">#8b95a1</span></li>
										<li class="data-item" style="background-color: #afb7bf"><span class="data-name">base, 040</span> <span class="data-code">#afb7bf</span></li>
										<li class="data-item" style="background-color: #d2d8dd"><span class="data-name">base, 030</span> <span class="data-code">#d2d8dd</span></li>
										<li class="data-item" style="background-color: #e2e6e9"><span class="data-name">base, 020</span> <span class="data-code">#e2e6e9</span></li>
										<li class="data-item" style="background-color: #f2f2f5"><span class="data-name">base, 010</span> <span class="data-code">#f2f2f5</span></li>
										<li class="data-item" style="background-color: #f9fafc"><span class="data-name">base, 005</span> <span class="data-code">#f9fafc</span></li>
										<li class="data-item" style="background-color: #ffffff"><span class="data-name">base, 000</span> <span class="data-code">#ffffff</span></li>
									</ul>
								</div>
							</div>
							<div class="subsection primary">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'primary'}) %></div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #00A3FF"><span class="data-name">primary, 050</span> <span class="data-code">#00A3FF</span></li>
				
									</ul>
								</div>
							</div>
							<div class="subsection secondary">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'secondary'}) %></div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #FF3E3E"><span class="data-name">secondary, 050</span> <span class="data-code">#FF3E3E</span></li>
									</ul>
								</div>
							</div>
							<div class="subsection normal">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'normal'}) %></div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #232b37"><span class="data-name">normal, 010</span> <span class="data-code">#232b37</span></li>
										<li class="data-item" style="background-color: #4e5968"><span class="data-name">normal, 020</span> <span class="data-code">#4e5968</span></li>
										<li class="data-item" style="background-color: #8b95a1"><span class="data-name">normal, 030</span> <span class="data-code">#8b95a1</span></li>
										<li class="data-item" style="background-color: #afb7bf"><span class="data-name">normal, 040</span> <span class="data-code">#afb7bf</span></li>
									</ul>
								</div>
							</div>
							<div class="subsection accent">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'accent'}) %></div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #00a3ff"><span class="data-name">accent, 010</span> <span class="data-code">#00a3ff</span></li>
										<li class="data-item" style="background-color: #ff3e3e"><span class="data-name">accent, 020</span> <span class="data-code">#ff3e3e</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section color-variation">
						<div class="section-head"><%- include('../_mixin/_title.section.ejs', {name: 'SCSS usage'}) %></div>
						<div class="section-body">
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'argument'}) %></div>
								<div class="subsection-body">
									<pre class="highlight-js"><code class="scss">color($theme, $variant, $opacity);</code></pre>
								</div>
							</div>
							<!-- //subsection -->
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'example'}) %></div>
								<div class="subsection-body">
									<pre class="highlight-js">
<code class="scss">color: color(base, 020);
border-color: color(base, 060);
background-color: color(base, 000, 0.6);</code></pre>
								</div>
							</div>
							<!-- //subsection -->
						</div>
					</div>
					<!-- //section -->
				</div>
				<!-- content-body -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<!-- //page -->
</div>
<script type="text/javascript">
	window.addEventListener('DOMContentLoaded', function() {
		var buttons = document.querySelectorAll('.bui-button-area .btn');
		Array.prototype.forEach.call(buttons, function(button) {
			button.addEventListener('click', function(e) {
				e.preventDefault();
			});
		});
	});
</script>
</body>
</html>